<ion-view title="我" hide-nav-bar="true">
    <ion-content>
    <div style="height:300px;background: #999">
        <!-----------------头部--------------->
        <div class="bar bar-header _noPosition">
            <div class="buttons">
                <button class="button">左侧按钮</button>
            </div>
            <h1 class="title">Title!</h1>
            <div class="buttons">
                <button class="button">右侧按钮</button>
            </div>
        </div>
        <!----------------头部截止------------>
        <p>这里是我</p>
    </div>


    </ion-content>
</ion-view>