<ion-view id="setting" class="_lightGray" hide-nav-bar="true">
    <ion-content>
        <div class="bar bar-header">
            <a class="button button-icon ion-ios-arrow-back back" ui-sref="tabs.me" nav-direction="back"></a>
            <h1 class="title">设置</h1>
            <a class="button button-clear">More</a>
        </div>

        <div class="list has-header">
            <ul class="item item-icon-right">
                <li class="clear" style="border-bottom: 1px solid #cccccc;">
                    <h4 class="_text">清除图片缓存 <span>1.61M</span></h4>
                </li>
                <li class="">
                    <h4 class="_text">非WIFI下图片质量 <span>普通</span></h4>
                </li>
            </ul>
            <ul class="item">
                <li class="item-toggle">
                    <h4 class="_text">摇一摇截屏反馈问题</h4>
                    <label class="toggle">
                        <input type="checkbox" checked="checked">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <ul class="item item-icon-right">
                <li class="clear" style="border-bottom: 1px solid #cccccc;">
                    <h4 class="_text">关于是否 <i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="">
                    <h4 class="_text">欢迎评分 <i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
            </ul>
            <ul class="item item-icon-right">
                <li class="">
                    <h4 class="_text">反馈 <i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
            </ul>
            <div class="item logout _text">
                退出登录
            </div>
        </div>
    </ion-content>
</ion-view>