<ion-view id="member" hide-nav-bar="true">
    <div class="bar bar-header">
        <a class="button button-icon ion-ios-arrow-back back" ui-sref="tabs.me" nav-direction="back"></a>
        <h1 class="title">会员/积分商城</h1>
        <a class="button button-clear">More</a>
    </div>
    <ion-tabs class="tabs-top">
        <ion-tab title="会员">
            <ion-view>
                <ion-content class="_lightGray">
                    <div class="top">
                        <p>为账户 <span>3876f9266</span> 购买会员服务</p>
                    </div>
                    <div class="list">
                        <a class="item item-icon-right" href="javascript:;">
                            <h4>会员特权 <span class="small-font">会员说明<i class="icon ion-ios-arrow-forward"></i></span></h4>
                            <ul>
                                <li>
                                    <img src="images/member/trunk.png" class="trunk">
                                    <h4>减配送费</h4>
                                    <p class="small-font">蜂鸟配送专用</p>
                                </li>
                                <li>
                                    <img src="images/member/moreicon.png" class="moreicon">
                                    <h4>更多优惠</h4>
                                    <p class="small-font">敬请期待</p>
                                </li>
                            </ul>
                        </a>
                    </div>

                    <div class="list">
                        <a class="item item-icon-right" href="javascript:;">
                            <h4>开通会员</h4>
                            <ul>
                                <li class="start">
                                    <h4>1个月 <span>¥20</span></h4>
                                    <button type="button">开通</button>
                                </li>
                            </ul>
                        </a>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="积分商城">
            <ion-view>
                <ion-content>
                    <p>积分商城</p>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>