<ion-view>
    <ion-nav-title class="_whiteFont _title _lineheight44 _title">
        订单
    </ion-nav-title>
    <ion-content class="_lightGray">
        <ion-list>
            <ion-item style="padding:0;margin:0;border:none;margin-bottom: 10px;">
                <div style="padding-left:15px;border-bottom:1px solid #dedede;">
                    <div style="height:44px;border-bottom: 1px solid #dedede;padding-right:15px;">
                        <img src="images/sort/icon_xbk.png" alt="" style="width:34px;height:34px;display: block;float:left;margin:5px 0;">
                        <h2 class="_size2 _darkFont32" style="float:left;line-height:44px;padding-left:11px;">星巴克</h2>
                        <i class="ion-ios-arrow-right" style="float:right;line-height:44px;font-size: 24px;margin-left:5px;color:#717171"></i>
                    </div>
                    <div style="padding:10px 0;">
                        <p class="size2 _darkFont32" style="line-height:30px;width: 100%;padding-right:15px;">
                            <span style="float: left;">浓郁咖啡摩卡等10件商品</span>
                            <span style="float: right;">￥132</span>
                        </p>
                        <p class="_lightGrayFont" style="line-height:24px;width: 100%;padding-right:15px;">
                            <span class="_describe" style="float: left;">09-09  11:06</span>
                            <span class="_text" style="float: right;">订单已失效</span>
                        </p>
                    </div>
                </div>
                <div style="padding:8px 0;padding-right:15px;overflow: hidden;">
                    <p class="_size2 _lightGrayFont" style="width:68px;height:29px;border:1px solid #cccccc;float: right;border-radius: 5px;text-align: center;line-height: 27px;">再来一单</p>
                </div>
            </ion-item>

            <ion-item style="padding:0;margin:0;border:none;margin-bottom: 10px;">
                <div style="padding-left:15px;border-bottom:1px solid #dedede;">
                    <div style="height:44px;border-bottom: 1px solid #dedede;padding-right:15px;">
                        <img src="images/sort/icon_jwyb.png" alt="" style="width:34px;height:34px;display: block;float:left;margin:5px 0;">
                        <h2 class="_size2 _darkFont32" style="float:left;line-height:44px;padding-left:11px;">绝味鸭脖</h2>
                        <i class="ion-ios-arrow-right" style="float:right;line-height:44px;font-size: 24px;margin-left:5px;color:#717171"></i>
                    </div>
                    <div style="padding:10px 0;">
                        <p class="size2 _darkFont32" style="line-height:30px;width: 100%;padding-right:15px;">
                            <span style="float: left;">绝味黑鸭甜辣...）一斤等10件商品</span>
                            <span style="float: right;">￥132</span>
                        </p>
                        <p class="_lightGrayFont" style="line-height:24px;width: 100%;padding-right:15px;">
                            <span class="_describe" style="float: left;">09-09  11:06</span>
                            <span class="_text" style="float: right;">订单已完成</span>
                        </p>
                    </div>
                </div>
                <div style="padding:8px 0;padding-right:15px;overflow: hidden;">
                    <p class="_size2 _orange _whiteFont" style="width:68px;height:29px;border:1px solid #f74225;float: right;border-radius: 5px;text-align: center;line-height: 27px;margin-left:10px;">去评价</p>
                    <p class="_size2 _lightGrayFont" style="width:68px;height:29px;border:1px solid #cccccc;float: right;border-radius: 5px;text-align: center;line-height: 27px;">再来一单</p>
                </div>
            </ion-item>

            <ion-item style="padding:0;margin:0;border:none;margin-bottom: 10px;">
                <div style="padding-left:15px;border-bottom:1px solid #dedede;">
                    <div style="height:44px;border-bottom: 1px solid #dedede;padding-right:15px;">
                        <img src="images/sort/icon_bsk.png" alt="" style="width:34px;height:34px;display: block;float:left;margin:5px 0;">
                        <h2 class="_size2 _darkFont32" style="float:left;line-height:44px;padding-left:11px;">必胜宅急送</h2>
                        <i class="ion-ios-arrow-right" style="float:right;line-height:44px;font-size: 24px;margin-left:5px;color:#717171"></i>
                    </div>
                    <div style="padding:10px 0;">
                        <p class="size2 _darkFont32" style="line-height:30px;width: 100%;padding-right:15px;">
                            <span style="float: left;">香酥鸡米花等10件商品</span>
                            <span style="float: right;">￥132</span>
                        </p>
                        <p class="_lightGrayFont" style="line-height:24px;width: 100%;padding-right:15px;">
                            <span class="_describe" style="float: left;">09-09  11:06</span>
                            <span class="_text" style="float: right;">订单已完成</span>
                        </p>
                    </div>
                </div>
                <div style="padding:8px 0;padding-right:15px;overflow: hidden;">
                    <p class="_size2 _orange _whiteFont" style="width:68px;height:29px;border:1px solid #f74225;float: right;border-radius: 5px;text-align: center;line-height: 27px;margin-left:10px;">去评价</p>
                    <p class="_size2 _lightGrayFont" style="width:68px;height:29px;border:1px solid #cccccc;float: right;border-radius: 5px;text-align: center;line-height: 27px;">再来一单</p>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>