<ion-view id="userInfo" class="_lightGray" hide-nav-bar="true">
    <ion-content>
        <div class="bar bar-header">
            <a class="button button-icon ion-ios-arrow-back back" href="#/tabs/me" nav-direction="back"></a>
            <h1 class="title _title">账户信息</h1>
            <a class="button button-clear">More</a>
        </div>

        <div class="list has-header">
            <ul class="item item-icon-right top">
                <li class="clear" style="border-bottom: 1px solid #cccccc;">
                    <h4 class="_text">头像 <span class="pic"><img class="touxiang" src="images/me/userPic.png"></span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="">
                    <h4 class="_text">用户名 <span>刘欣欣LXX</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
            </ul>
            <h3>账号绑定</h3>
            <ul class="item item-icon-right info">
                <li class="" style="border-bottom: 1px solid #cccccc;">
                    <div class="infoicon"><img src="images/userInfo/iphoneicon.png"></div>
                    <h4 class="_text">手机  <span>15825645645</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="" style="border-bottom: 1px solid #cccccc;">
                    <div class="infoicon"><img src="images/userInfo/wechaticon.png"></div>
                    <h4 class="_text">微信  <span class="orange-font">未绑定</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="" style="border-bottom: 1px solid #cccccc;">
                    <div class="infoicon"><img src="images/userInfo/qqicon.png"></div>
                    <h4 class="_text">QQ  <span class="orange-font">未绑定</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="" style="border-bottom: 1px solid #cccccc;">
                    <div class="infoicon"><img src="images/userInfo/weiboicon.png"></div>
                    <h4 class="_text">微博  <span class="orange-font">未绑定</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="">
                    <div class="infoicon"><img src="images/userInfo/taobaoicon.png"></div>
                    <h4 class="_text">淘宝  <span class="orange-font">未绑定</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
            </ul>
            <h3>安全设置</h3>
            <ul class="item item-icon-right">
                <li class="" style="border-bottom: 1px solid #cccccc;">
                    <h4 class="_text">登录密码  <span>修改</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="" style="border-bottom: 1px solid #cccccc;">
                    <h4 class="_text">支付密码  <span class="orange-font">未绑定</span><i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
                <li class="">
                    <h4 class="_text">小额免密支付 <i class="icon ion-ios-arrow-forward _title"></i></h4>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>